*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
div{
    display: flex;
    justify-content: center;
}
img{
    width: 80%;
    z-index: 1;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #000;
    color: white;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    margin: auto;
    width: 120px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size:cover;
    backdrop-filter: blur(5px);
    z-index: 5;
}

/* Add styles to the form container */
.form-container {
    max-width: 400px;
    padding: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
}

  /* Full-width input fields */
  .form-container input, .form-container textarea {
    width: 100%;
    padding: 10px 2px;
    margin: 5px 0 20px 0;
    border: none;
    background: #f1f1f1;
    
}
.form-container textarea{
    min-height: 20px;
    max-height: 250px;
    resize: vertical;
}
:focus {
    outline: none;
}
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
}
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }